doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    div.container
      block content

    script(src="/socket.io/socket.io.js")
    script(src="/js/vendor/jquery.min.js")
    //- script(src="/js/vendor/d3.min.js")
    //- script(src="/js/vendor/bootstrap/bootstrap-transition.js")
    //- script(src="/js/vendor/bootstrap/bootstrap-alert.js")

    script(src="/js/app.js")
